{% load static %}
{% block content %}
{% include 'admin/menu.html' %}

        <!-- partial -->

        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <nav aria-label="breadcrumb">
                 
                </nav>
              </div>
              <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Flights Route & Rate Details</h4><br>
                    {% if request.session.sid %}
                 <a class="btn btn-gradient-primary me-2" href="route_assign">Add New Route Assign</a> <br> <br>
                 {% endif %}
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Flight Name</th>
                                <th>Route</th>
                                <th>Date & Time</th>
                                <th>Rates</th>
                                <th>Status</th>
                                <th>Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in result %}
                            <tr>
                                <td>{{ assignment.flight.flight_name }} ({{ assignment.flight.flight_model }})</td>
                                {% if assignment.route.stop != 'Direct' %}
                                <td>{{ assignment.route.starting_point }} <b>To</b> <br> {{ assignment.route.destination }} <b>Via</b> <br>{{ assignment.route.stop }}</td>
                            {% else %}
                                <td>{{ assignment.route.starting_point }} <b>To</b> <br> {{ assignment.route.destination }}</td>
                            {% endif %}
                                <td>
                                   <b> Departure:</b> {{ assignment.departure_date }} {{ assignment.departure_time }}<br>
                                   <b> Arrival:</b> {{ assignment.arrival_date }} {{ assignment.arrival_time }}
                                </td>
                                <td>
                                    <b>First Class:</b> {{ assignment.first_class_rate }}<br>
                                    <b>Business Class:</b> {{ assignment.business_class_rate }}<br>
                                    <b>Normal Rate:</b> {{ assignment.normal_class_rate }}<br>
                                    <b>Infant Rate:</b> {{ assignment.infant_rate }}
                                </td>
                                <td>{{assignment.status}}</td>
                                {% if assignment.status == 'Cancelled' %}
                                <td style="color: red;"> Cancelled the Trip </td>
                                {% else %}
                                <td><a class="btn btn-gradient-primary me-2" href="cancel_routeassign/{{assignment.id}}">Cancel</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
         
            </div>
          </div>
		  </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  {% endblock %}
  </body>
</html>